aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
attrs==25.4.0
certifi==2025.10.5
charset-normalizer==3.4.4
colorama==0.4.6
darkdetect==0.8.0
enum-compat==0.0.3
frozenlist==1.8.0
idna==3.11
iniconfig==2.1.0
multidict==6.7.0
nodejs-wheel-binaries==22.20.0
numpy==2.2.6
opencv-python==4.12.0.88
packaging==25.0
pluggy==1.6.0
propcache==0.4.1
pygments==2.19.2
pyqt6==6.10.0
pyqt6-fluent-widgets==1.9.2
pyqt6-frameless-window==0.7.4
pyqt6-qt6==6.10.0
pyqt6-sip==13.10.2
pytest==8.4.2
pytubefix==10.2.1
pyueye==4.96.952
pywin32==311
pyyaml==6.0.3
refractiveindex2==0.1.1
requests==2.32.5
-e file:///C:/Users/Oliver/Documents/Schichtdickenmessung
scipy==1.16.2
types-pyyaml==6.0.12.20250915
types-requests==2.32.4.20250913
urllib3==2.5.0
yarl==1.22.0
